<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
    backupGlobals="false"
    bootstrap="vendor/autoload.php"
    colors="true"
    processIsolation="false"
    stopOnFailure="false"
    executionOrder="random"
    failOnWarning="true"
    failOnRisky="true"
    failOnEmptyTestSuite="true"
    beStrictAboutOutputDuringTests="true"
    cacheDirectory=".phpunit.cache"
    backupStaticProperties="false"
>
    <testsuites>
        <testsuite name="PauloHortelan Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <report>
            <html outputDirectory="build/coverage"/>
            <text outputFile="build/coverage.txt"/>
            <clover outputFile="build/logs/clover.xml"/>
        </report>
    </coverage>
    <logging>
        <junit outputFile="build/report.junit.xml"/>
    </logging>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
    <php>
        <env name="APP_KEY" value="AckfSECXIvnK5r28GVIWUAxmbBSjTsmF"/>
        <env name="DB_CONNECTION" value="testing"/>
        <env name="DB_FOREIGN_KEYS" value="true"/>

        <env name="NOKIA_OLT_IP" value=""/>
        <env name="NOKIA_OLT_USERNAME" value=""/>
        <env name="NOKIA_OLT_PASSWORD" value=""/>
        <env name="NOKIA_SERIAL_1" value=""/>
        <env name="NOKIA_SERIAL_2" value=""/>
        <env name="NOKIA_SERIAL_3" value=""/>
        <env name="NOKIA_INTERFACE_1" value=""/>
        <env name="NOKIA_INTERFACE_2" value=""/>
        <env name="NOKIA_INTERFACE_3" value=""/>

        <env name="ZTE_OLT_IP" value=""/>
        <env name="ZTE_OLT_USERNAME" value=""/>
        <env name="ZTE_OLT_PASSWORD" value=""/>
        <env name="ZTE_SERIAL_1" value=""/>
        <env name="ZTE_SERIAL_2" value=""/>
        <env name="ZTE_SERIAL_3" value=""/>
        <env name="ZTE_INTERFACE_1" value=""/>
        <env name="ZTE_INTERFACE_2" value=""/>
        <env name="ZTE_INTERFACE_3" value=""/>             

        <env name="FIBERHOME_OLT_IP" value=""/>
        <env name="FIBERHOME_IP_SERVER" value=""/>
        <env name="FIBERHOME_OLT_USERNAME" value=""/>
        <env name="FIBERHOME_OLT_PASSWORD" value=""/>
        <env name="FIBERHOME_SERIAL_1" value=""/>
        <env name="FIBERHOME_SERIAL_2" value=""/>
        <env name="FIBERHOME_SERIAL_3" value=""/>
        <env name="FIBERHOME_INTERFACE_1" value=""/>
        <env name="FIBERHOME_INTERFACE_2" value=""/>
        <env name="FIBERHOME_INTERFACE_3" value=""/> 
        <env name="FIBERHOME_MODEL_TYPE_1" value=""/>
        <env name="FIBERHOME_ONT_TYPE_1" value=""/>
        <env name="FIBERHOME_ONT_TYPE_2" value=""/>
        <env name="FIBERHOME_PPPOE_USERNAME_1" value=""/>
        <env name="FIBERHOME_PPPOE_USERNAME_2" value=""/>
        <env name="FIBERHOME_PORT_INTERFACE_1" value=""/>
        <env name="FIBERHOME_PORT_INTERFACE_2" value=""/>
        <env name="FIBERHOME_VLAN_1" value=""/>
        <env name="FIBERHOME_VLAN_2" value=""/>
        <env name="FIBERHOME_CCOS_1" value=""/>
        <env name="FIBERHOME_CCOS_2" value=""/>
        <env name="FIBERHOME_SERVICE_ID_1" value=""/>
        <env name="FIBERHOME_SERVICE_ID_2" value=""/>    
        <env name="FIBERHOME_SERVICE_MODEL_PROFILE_1" value=""/>
        <env name="FIBERHOME_SERVICE_MODEL_PROFILE_2" value=""/> 
        <env name="FIBERHOME_SERVICE_TYPE_1" value=""/>
        <env name="FIBERHOME_SERVICE_TYPE_2" value=""/>   
    </php>    
</phpunit>
