<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
    backupGlobals="false"
    bootstrap="vendor/autoload.php"
    colors="true"
    processIsolation="false"
    stopOnFailure="false"
    executionOrder="random"
    failOnWarning="true"
    failOnRisky="true"
    failOnEmptyTestSuite="true"
    beStrictAboutOutputDuringTests="true"
    cacheDirectory=".phpunit.cache"
    backupStaticProperties="false"
>
    <testsuites>
        <testsuite name="PauloHortelan Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <report>
            <html outputDirectory="build/coverage"/>
            <text outputFile="build/coverage.txt"/>
            <clover outputFile="build/logs/clover.xml"/>
        </report>
    </coverage>
    <logging>
        <junit outputFile="build/report.junit.xml"/>
    </logging>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
    <php>
        <env name="APP_KEY" value="AckfSECXIvnK5r28GVIWUAxmbBSjTsmF"/>
        <env name="DB_CONNECTION" value="testing"/>
        <env name="DB_FOREIGN_KEYS" value="true"/>

        <env name="NOKIA_OLT_IP" value=""/>
        <env name="NOKIA_OLT_USERNAME_TELNET" value=""/>
        <env name="NOKIA_OLT_USERNAME_TL1" value=""/>
        <env name="NOKIA_OLT_PASSWORD_TELNET" value=""/>
        <env name="NOKIA_OLT_PASSWORD_TL1" value=""/>
        <env name="NOKIA_SERIAL_ALCL" value=""/>
        <env name="NOKIA_SERIAL_CMSZ" value=""/>
        <env name="NOKIA_INTERFACE_ALCL" value=""/>
        <env name="NOKIA_SERIAL_CMSZ" value=""/>
        <env name="NOKIA_PON_INTERFACE" value=""/>
        <env name="NOKIA_PPPOE_USERNAME" value=""/>

        <env name="ZTE_C300_OLT_IP" value=""/>
        <env name="ZTE_C300_OLT_USERNAME_TELNET" value=""/>
        <env name="ZTE_C300_OLT_PASSWORD_TELNET" value=""/>
        <env name="ZTE_C300_SERIAL_CMSZ" value=""/>
        <env name="ZTE_C300_SERIAL_ALCL" value=""/>
        <env name="ZTE_C300_INTERFACE_CMSZ" value=""/>
        <env name="ZTE_C300_INTERFACE_ALCL" value=""/>
        <env name="ZTE_C300_PON_INTERFACE_CMSZ" value=""/>
        <env name="ZTE_C300_PON_INTERFACE_ALCL" value=""/>

        <env name="ZTE_C600_OLT_IP" value=""/>
        <env name="ZTE_C600_OLT_USERNAME_TELNET" value=""/>
        <env name="ZTE_C600_OLT_PASSWORD_TELNET" value=""/>
        <env name="ZTE_C600_SERIAL_CMSZ" value=""/>
        <env name="ZTE_C600_SERIAL_ALCL" value=""/>
        <env name="ZTE_C600_INTERFACE_CMSZ" value=""/>
        <env name="ZTE_C600_INTERFACE_ALCL" value=""/>
        <env name="ZTE_C600_PON_INTERFACE_CMSZ" value=""/>
        <env name="ZTE_C600_PON_INTERFACE_ALCL" value="" />

        <env name="FIBERHOME_OLT_IP" value=""/>
        <env name="FIBERHOME_IP_SERVER" value=""/>
        <env name="FIBERHOME_OLT_USERNAME_TL1" value=""/>
        <env name="FIBERHOME_OLT_PASSWORD_TL1" value=""/>
        <env name="FIBERHOME_SERIAL_ALCL" value=""/>
        <env name="FIBERHOME_SERIAL_CMSZ" value=""/>
        <env name="FIBERHOME_SERIAL_FHTT" value=""/>
        <env name="FIBERHOME_PON_INTERFACE" value=""/>
        <env name="FIBERHOME_ONT_TYPE_ALCL" value=""/>
        <env name="FIBERHOME_ONT_TYPE_CMSZ" value=""/>
        <env name="FIBERHOME_ONT_TYPE_FHTT" value=""/>
        <env name="FIBERHOME_PORT_INTERFACE_ALCL" value=""/>
        <env name="FIBERHOME_PORT_INTERFACE_CMSZ" value=""/>
        <env name="FIBERHOME_PORT_INTERFACE_FHTT" value=""/>
        <env name="FIBERHOME_PPPOE_USERNAME" value=""/>

        <env name="DATACOM_DM4612_OLT_IP" value=""/>
        <env name="DATACOM_DM4612_OLT_USERNAME_TELNET" value=""/>
        <env name="DATACOM_DM4612_OLT_PASSWORD_TELNET" value=""/>
        <env name="DATACOM_DM4612_SERIAL_CMSZ" value=""/>
        <env name="DATACOM_DM4612_SERIAL_ALCL" value=""/>
        <env name="DATACOM_DM4612_INTERFACE_CMSZ" value=""/>
        <env name="DATACOM_DM4612_INTERFACE_ALCL" value=""/>
        <env name="DATACOM_DM4612_PON_INTERFACE_CMSZ" value=""/>
        <env name="DATACOM_DM4612_PON_INTERFACE_ALCL" value="" />
    </php>    
</phpunit>
